.index-banner {
  height: 408px;
  overflow: hidden;
  position: relative;
}
.index-banner .box {
  height: 408px;
  border-bottom: 4px #fff solid;
  overflow: hidden;
  position: relative;
}
.index-banner .box li a {
  height: 408px;
  display: block;
  overflow: hidden;
}
.index-banner .shadow {
  width: 1000px;
  height: 26px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 20;
}
.index-banner .contrl {
  height: 26px;
  position: absolute;
  top: 370px;
}
.index-banner .contrl ul {
  float: right;
}
.index-banner .contrl ul li {
  display: inline;
  position: relative;
  float: left;
  margin-left: 5px;
  width: 26px;
  height: 26px;
}
.index-banner .contrl ul li a {
  width: 26px;
  left: 0;
  top: 0;
  position: absolute;
  height: 26px;
  display: block;
  background: #fff;
  border-radius: 10px;
  opacity: .5;
}
.index-banner .contrl ul li.hover a {
  background: orange;
}
